* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
header img{
    width: 25%;
}
.ingredients, #ingredients {
    background-color: #3282F7;
}

.devices, #devices {
    background-color: #68D9A4;
}

.utensils, #utensils {
    background-color: #ED6454;
}

body {
    max-width: 1240px;
    margin: auto;
    padding: 16px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #D04F4F;
}

header h1 {
    letter-spacing: 2px;
}

section {
    margin-bottom: 20px;
}

.searchBar {
    position: relative;
}

.input-search {
    width: 100%;
    height: 69px;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background-color: #E7E7E7;
    outline: none;
    font-size: 20px;
}

.searchBar i {
    position: absolute;
    top: 35%;
    right: 20px;
    font-size: 20px;
}

.hidden {
    display: none;
}

.tags__list, .filters__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tags__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 107px;
    height: 37px;
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    margin-right: 10px;
}

svg {
    cursor: pointer;
    filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(359deg) brightness(109%) contrast(111%);
}

/* filters */
.filter-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    color: #fff;
    margin-right: 20px;
    transition: 0.5s ease-in-out;
}

.filter-input {
    display: none;
    width: 100%;
    border: none;
    color: #FFFFFF;
    outline: none;
}

.filter-input::placeholder {
    color: #E7E7E7;
}

.filter-btn p {
    letter-spacing: 0.5px;
}

.filter-content i {
    font-size: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.filter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    padding: 15px 10px;
}

.dropdown {
    display: none;
    padding: 15px 10px;
    transition: 0.5s ease-in-out;
}

.dropdown .dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    max-height: 397px;
    overflow: auto;
}

.dropdown .dropdown-menu li {
    flex: 1 0 33%;
    margin-bottom: 5px;
}


.filter-btn.active {
    width: 667px;
    height: 100%;
}

.filter-btn.active #filter-title {
    display: none;
}

.filter-btn.active i {
    transform: rotate(-180deg);
}

.filter-btn.active .dropdown {
    width: 100%;
    height: 100%;
}

.filter-btn.active .filter-input, .filter-btn.active .dropdown {
    display: block;
}

/******************** recipies **********************/
.recipe__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.recipe__card {
    width: 380px;
    height: 364px;
    border-radius: 5px;
    /* border: 2px solid #000; */
    overflow: hidden;
}

.recipe__card .img {
    width: 100%;
    height: 178px;
    object-fit: cover;
    display: block;
    background-color: #C7BEBE;
}

.recipes__card-content {
    width: 100%;
    background-color: #E7E7E7;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.recipe__container, .recipe__header {
    display: flex;
    justify-content: space-between;
}

.recipe__header {
    align-items: center;
    margin-bottom: 15px;
}

.recipe__header div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.recipe__header div i {
    margin-right: 5px;
}

.recipe__header div span {
    font-weight: 700;
}

.recipe__container ul, .recipe__container p {
    width: calc(98%/2);

}

.recipe__container p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@media screen and (max-width: 577px) {
    .tags__card{
        margin-bottom: 10px;
    }
    .filters__list{
        gap: 10px;
    }
    .filter-btn{
        margin-right: 0px;
    }
}
@media screen and (max-width: 947px) {
    header img{
        width: 50%;
    }
}